/* FULL WIDTH NAVBAR */
.navbar {
  width: 100%;
  background: #ff6422;
  padding: 1px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  top: 0;
  z-index: 100;

  border-top: 4px solid #ffffff55;  /* TOP LINE */
}



/* INNER CENTER CONTAINER */
.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* LOGO */
.logo {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.link {
  color: rgb(248, 246, 246);
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  transition: 0.3s;
  border-radius: 6px;
}

.link:hover {
  background: #000000;
}

.link.active {
  background: #fffdfd88;
  color: black;
  font-weight: bold;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;      /* mini logo */
  height: 40px;
  object-fit: cover;
  border-radius: 50%;   /* circle logo */
}

.logo-text {
  font-size: 28px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
