
.nonveg-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* GRID FIX */
.nonveg-list {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Ensure cards stretch properly */
.nonveg-card {
  background: #8ff500;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgb(255, 242, 0);
}
/* PRICE */
.nonveg-price {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 15px;
}
.nonveg-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
