.signin-container {
  width: 100%;
  height: 100vh;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  width: 350px;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(255,255,255,0.1);
}

.signin-form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.signin-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #262626;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.signin-form input::placeholder {
  color: #909090;
}

.signin-form button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}

.signin-form button:hover {
  background: #005fcc;
}

.signin-form p {
  text-align: center;
  color: #ccc;
  margin-top: 15px;
}

.signin-form span {
  color: #00d4ff;
  cursor: pointer;
}
